# Server-only service and diagnostic tools. These remain present with NO_APPS=y.
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-date=y
CONFIG_PACKAGE_coreutils-ls=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_kmod-l2tp=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_nethogs=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_ppp-mod-pppol2tp=y
CONFIG_PACKAGE_procps-ng=y
CONFIG_PACKAGE_procps-ng-free=y
CONFIG_PACKAGE_procps-ng-ps=y
CONFIG_PACKAGE_procps-ng-top=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_xl2tpd=y
